{% extends "mytweet/base.html" %}

{% block content %}

<div class="container">  
    <div class="card-text-center">
        <form method="POST">
            {%csrf_token%}
      
            <fieldset class= "form-group">
                <legend class = "border-bottom bm-4">Confirm Delete</legend>
            </fieldset>

            <div class = "btn-group1">
                <button class = "btn btn-outline-info" type = "submit">Delete</button>
                <button class = "btn btn-outline-info"{% url 'home' %}>Cancel</button>
            </div>   
    </div>  
</div>
{% endblock content %}