{% extends "mytweet/base.html" %}
{% block content %}
<html>
<head>
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="text-center"> <img src="{{user.profile.image.url}}" width="300" class="rounded-circle"> </div>
        <h5>{{user.username}}</h5>

            <div class="card-header">
                {{user.profile.bio}}
            <br>
            <br>
            <a href="{% url 'profileupdate' %}"><button class="btn-group1">edit</button></a>
        </div>
    </div>
</div>


</body>
</html>
{% endblock content %} 